body, h1, h2, p, ul, li, a {
    margin: 0; /*removing the default margin */
    padding: 0; /*removing the default padding */
    font-family: Arial, Helvetica, sans-serif; /*setting the default font */
}

body {
    background-color: whitesmoke;
}

#round {
    border-radius: 50%;
    opacity: 0.7;
}

#round2 {
    border-radius: 50%;
    opacity: 0.7;
}

#round3 {
    border-radius: 50%;
    opacity: 0.7;
}

#round4 {
    border-radius: 50%;
    opacity: 0.7;
}

h1 {
    color: #965e1f; 
    font-size: 2em; 
    margin-bottom: 1em; 
    text-align: center;
}

h2 {
    color: whitesmoke;
    font-size: 3em;
    margin-bottom: 0em;
    text-align: center;
}
main{
    text-align: center;
}
a:link, a:visited{
    background-color: #965e1f;
    display: inline-block; /* making the link a block element */
    width: 250px;
    color: whitesmoke; /* Bright text color */
    text-align: center;
    text-decoration: none; /* Removing the underline */
    border: 1px solid #965e1f; /* Bright brown border color */
    transition: all 0.3s ease; /* Adding a transition */
}

a:hover, a:active  {
    background-color: #9c7242;
}
ul {
    list-style: none; /* Removing the bullet points */
    margin-left: 20px; /* Indenting the list */
    margin-bottom: 12px; /* Adding some space below the list */
    text-align: center;
}