.external-css {
    color: #038C7F;
    background-image: url(images/Background.jpg);
}


body {
    background-image: url(images/Background.jpg);
    background-color: #123c63;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #000000; 
    font-size: 2em; 
    margin-bottom: 1em; 
}
h2 {
    color: whitesmoke;
    font-size: 2em;
    margin-bottom: 1em;
}
a {
    display: list-item; /* making the link a block element */
    color: #3498db; /* Bright blue text color */
    text-decoration: none; /* Removing the underline */
    padding-left: 1px;
    padding-right: 1px;
    padding: 2.5px 10px; /* Adding some space inside the link */
    border: 1px solid #000000; /* Bright blue border color */
    transition: all 0.3s ease; /* Adding a transition */
}

ul {
    list-style: none; /* Removing the bullet points */
    margin-left: 20px; /* Indenting the list */
    margin-bottom: 12px; /* Adding some space below the list */
}