.external-css {
    color: #d8d8d8;
    background-color: whitesmoke;
}
body, h1, h2, p, ul, li, a {
    margin: 0; /*removing the default margin */
    padding: 0; /*removing the default padding */
    font-family: Arial, Helvetica, sans-serif; /*setting the default font */
}

body {
    background-color: whitesmoke;

}

h1 {
    color: #965e1f; 
    font-size: 2em; 
    margin-bottom: 2px; 

}
h2 {
    color: whitesmoke;
    font-size: 1em;
    margin-bottom: 0em;
}

h3 {
    color: #965e1f;
    font-size: 3em;
    margin-bottom: 1em;
}

h4 {
    color: black;
    font-size: 1em;
    margin-bottom: 1em;
}

a:link, a:visited{
    background-color: #965e1f;
    display: inline-block; /* making the link a block element */
    width: 250px;
    color: whitesmoke; /* Bright orange text color */
    text-align: center;
    text-decoration: none; /* Removing the underline */
    border: 1px solid #000000; /* Bright black border color */
    transition: all 0.3s ease; /* Adding a transition */
}

a:hover, a:active  {
    background-color: rgb(143, 142, 142);
}
ul {
    list-style: none; /* Removing the bullet points */
    margin-left: 20px; /* Indenting the list */
    margin-bottom: 12px; /* Adding some space below the list */
}